* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {

    /* font-family: 'Roboto', sans-serif; */
    width: 100%;
    overflow-x: hidden;
}


nav{
    width: 100%;
    height: 80px;
    background-color: rgb(227, 94, 94);
    background-color: white;
    /* opacity: ; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0px 40px;
    border-bottom: 1px solid black;
    box-shadow: 4px 4px 4px black;
    z-index: 10;
    
    /* display: block; */

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    font-weight: 700;
    /* border: 1px solid black; */
    width: 100px;
}

.logo img {
    width: 75px;
    transform: scale(.99,0.99);
    /* overflow: hidden; */
    /* border-radius: 50%; */
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul{
    display: flex;
    color:white;
    /* justify-content: flex-start; */

}
.links a {
    text-decoration: none;
    padding: 10px 15px;
    /* color: white; */
    color: black;
    font-weight: 600;
}

.links li{
    
    list-style-type: none;
    cursor: pointer;
}

.empty {
    width: 100%;
    height: 86px;
}

/* content css */
/* content css */
/* content css */


.content {
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: auto;
    margin-top: 30px;

}

.ind {
    /* background-color: red; */
    /* text-align: center; */
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* height: 50px; */
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */

    /* justify-content: flex-start; */
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
}

.ind:hover {
    transform: scale(1.05, 1.05);
    transition: transform .5s ease-in-out;
}

.all {
    display: flex;
    flex-direction: column;
}

.ded {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.add_user {
    display: flex;
    align-items: center;
}

.add_user button {
    border: none;
    font-size: 18px;
    width: 150px;
    border-radius: 10px;
    height: 40px;
    font-weight: 700;
}

.actions {
    display: flex;
    /* align-items: ;
    justify-content: ; */
    flex-direction: row;
    width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.actions i {
    transform: scale(1.5, 1.5);
}

.actions .fa-pen-to-square:hover {
    color: orange;
}


.actions .fa-trash:hover {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

.msg {
    color: red;
    font-weight: 500;
}

.heading {
    margin-left: 50px;
    margin-top: 40px;
}

h3.head  {
    display: inline;
}

/* .username {
    margin-left: 150px;
    width: 300px
} */

/* .email {
    margin-left: 300px;
} */



 /* side menu starts*/
 /* side menu starts*/
 /* side menu starts*/

 a {
    text-decoration: none;
  }



  .user {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    transform: scale(2.5,2.5);
    color: black;
    color: #1fc29f;
    /* color: #1fc29f; */
    position: relative;
    bottom: 10px;
    padding-right: 20px;
    padding-left: 15px;
    list-style: none;
    
}

.user.fa-user {
    color: #1fc29f;
}

#side {
    width: 250px;
    height: 800px;
    position: fixed;
    display: none;
    /* background-color: black; */
    z-index: 1000;
    left: 81.90vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* filter: blur(10px); */
    background: transparent;
    opacity: 1;
    background-color: #1fc29f;
    transform: all .6s ease-in-out;
    /* animation-name: moon 1.6s; */
    /* position: relative; */
}

.user.user_prof {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    transform: scale(2.5,2.5);
    color: black;

    /* color: #1fc29f; */
    /* color: #1fc29f; */

    /* position: relative; */
    list-style: none;
    
}

.appoint {
    /* position: absolute; */
    /* left: 50px; */
    /* top: 50px; */
    width: 100%;
    height: 100px;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}



.appointments_list {
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
    color: white;
    cursor: pointer;
}

span {
    font-weight: 700;
}